@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
   background-image: url(img/bg-hero-desktop.svg);
   background-color: hsl(193, 100%, 96%);
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    }

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    }

#main-header{
   display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#menu{
    display: flex;
    justify-content: space-between;
    padding: 2rem 7.5rem;
    width: 100%;
}

#menu button{
    
    background-color: white;
    border-radius: 25px;
    padding: 0.5rem 3.5rem;
    border: thin solid #ccc;
    outline: 0;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 3px #ccc;
    }

#menu .first .logo{
    padding-bottom: 10rem;
}

#menu a{
    color: hsl(192, 100%, 9%);
}

.bottom-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-head .first {
   padding: 2rem 3rem 2rem 3rem;
   width: 50%;
}

.bottom-head .second {
   padding: 2rem 3rem 2rem 3rem;
   width: 50%;
}

.bottom-head .second img {
   width: 100%;
}

.bottom-head .first h1{
    margin-bottom: 1rem;
    font-size: 2.6rem;
 }

.bottom-head .first p {
    margin-bottom: 2.5rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.bottom-head .first button{
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0 0 3px hsl(322, 100%, 55%);
    color: white;
    border-radius: 25px;
    padding: 0.5rem 3.5rem;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5rem;
    }

 main {
    padding: 7.5rem 3.5rem 15rem;
    background-color: #ffffff;
    width: 100%;
 }

 main .main-container {
    display: flex;
    align-items: center;
    border: thin solid #ccc;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
    }

 .main-container1 p{
    font-size: 0.8rem;
    width: 100%;
 }

 .main-container1 h2 {
    margin-bottom: 1rem;
    width: 100%;
 }

main .main-container .main-container-item{
    padding: 2.5rem 2.5rem 2.5rem 5rem;
} 

main .main-container .main-container2 img{
   width: 100%;
}


    main .change {
    flex-direction: row-reverse;
    }

 .main-container12 p{
    font-size: 0.8rem;
 }

 .main-container12 h2 {
    margin-bottom: 1rem;
 }

.main-container13 p{
    font-size: 0.8rem;
 }

 .main-container13 h2 {
    margin-bottom: 1rem;
 }

main .main-container .main-container-item2{
    padding: 2.5rem 2.5rem 2.5rem 5rem;
} 

section .build{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: thin solid #ccc;
    border-radius: 0.5rem;
    padding: 4rem 3rem;
    width: 50%;
    margin: 0 auto;
    margin-top: -100px;
    margin-bottom: -185px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

section .build button{
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0 0 3px hsl(322, 100%, 55%);
    color: white;
    border-radius: 25px;
    padding: 0.5rem 3rem;
    margin-top: 1.5rem;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

 #last{
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    padding: 15rem 3rem 3rem;
    position: relative;
    width: 100%;
 }

 .footer-end{
    display: flex;
    margin-top: 2rem;
    justify-content: space-evenly;
   
 }

 .footer-end .last-item {
   width: 25%;
}

 .footer-end .footer1{
   padding-right: 5px;
 }

 .footer-end .icons{
    display: flex;
    color: white;
    margin-bottom: 1.5rem;
   }

 .footer-end .icons img{
    margin-right: 1.5rem ;

 }
/* 
 .footer2 .footer3{
   padding-bottom: 5rem;
 } */

 .footer-end .footer2, .footer-end .footer3{
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    }

 .footer2 .a, .footer3 .a {
color: white;
 }

 .footer-end .footer4{
       display: flex;
 }

 .footer-end .footer4 img{
    width: 30px;
 }

 #last .copyright{
    text-align: right;
    color: white;
   font-size: 0.8rem;
 }
  

 
@media screen and (min-width:481px) and (max-width:768px) {
     #menu img {
         width: 50%;
     }
 
     #menu button {
         padding: 0.5rem 1rem;
         font-size: 1rem;
     }
    
    .bottom-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 0.5rem;
    }

    .bottom-head .first, .bottom-head .second {
      width: 80%;
  }

  .bottom-head .first h1 {
      font-size: 2rem;
  }
  
  .bottom-head .main-section-item {
      padding: 0.5rem;
      text-align: center;
  }
  
  .bottom-head .second img {
      width: 100%;
  }
  
    .bottom-head .main-section-item{
        padding: 0 2.5rem;
    }

    .bottom-head .first p{
        line-height: 1.6;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 2.5rem;
        font-size: 1.15rem;
      }
    
    .bottom-head .first button{
        padding: 1rem 5rem;
        margin-bottom: 2.5rem;
    }

    main {
      padding: 7.5rem 2rem 10rem;
      justify-content: center;
      align-items: center;
   }
    
     main .main-container {
      flex-direction: column-reverse;
      text-align: center;

     }
     main .main-container .main-container-item{
      padding: 2.5rem 0.5rem 2.5rem;
    } 
    
     
     main .main-container .main-container-item h2, 
    main .main-container .main-container-item p, 
    main .main-content .main-container-2 img {
      width: 80%;
      margin: 0 auto;
    }

    section .build{
       width: 90%;
        margin: 0 auto;
        position: absolute;
        margin-top: -100px;
        font-size: 1rem;
        padding: 2.5rem 0.5rem;
    }
    
    section .build button{
      padding: 1rem 4.7rem;
      margin-top: 1.5rem;
      border: 0;
      outline: 0;
      cursor: pointer;
      font-size: 0.8rem;
      font-family: 'Open Sans', sans-serif;
     }
    
     #last{
        background-color: hsl(192, 100%, 9%);
        padding: 15rem 2rem 3rem;
        position: relative;
       }
    
     .footer-end{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        
}
    
     .footer-end .footer1{
        width: 100%;
        margin-right: unset;
        margin-bottom: 2.5rem;
       }
    
     .footer-end .icons{
        display: flex;
        color: white;
        margin-bottom: 1.5rem;
      }
    
     .footer-end .icons img{
        margin-right: 0.5rem ;
    }
    
     .footer-end .footer2, .footer-end .footer3{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: unset;
      }
    
      .footer-end .footer2 a, .footer-end .footer3 a {
         margin-bottom: 0.5rem;
     }
    
     #last .copyright{
        text-align: center;
        color: white;
        }
    
    
}



@media screen and (min-width:1025px) and (max-width: 1200px) {
    .bottom-head .first h1 {
        margin-bottom: 1rem;
        font-size: 2.35rem;
    }

    .bottom-head .first p {
        margin-bottom: 1rem;
        font-size: 0.9rem;
    }
}



@media screen and (min-width:769px) and (max-width: 1024px) {
    .bottom-head .first h1 {
        margin-bottom: 1rem;
        font-size: 1.53rem;
    }

    .bottom-head .first p {
        margin-bottom: 1rem;
        font-size: 0.6rem;
        font-weight: 400;
    }

    .bottom-head .first button {
        background-color:hsl(322, 100%, 66%);
        box-shadow: 0 0 3px hsl(322, 92%, 51%);
        color: #ffffff;
        border-radius: 25px;
        padding: 0.7rem 1rem;
        font-size: 0.65rem;
        margin-bottom: 0.1rem;
    }

    section .build {
        width: 70%;
    }

    .footer-end .footer1 {
        width: 40%;
    }

    .footer-end .footer2,
    .footer-end .footer3,
    .footer-end .footer4 {
        width: 20%;
    }

    .footer-end .second-footer,
    .footer-end .third-footer,
    .footer-end .fourth-footer {
        padding-left: 1.5rem;
    }

   }


@media screen and (min-width:320px) and (max-width:480px) {
    #menu img {
        width: 50%;
    }

    #menu button {
        padding: 0.5rem 1rem;
        font-size: 0.6rem;
    }
    
    .bottom-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 0.5rem;
    }

    .bottom-head .first, .bottom-head .second {
        width: 80%;
    }

    .bottom-head .first h1 {
        font-size: 1.2rem;
    }
    
    .bottom-head .main-section-item {
        padding: 0.5rem;
        text-align: center;
    }
    
    .bottom-head .second img {
        width: 100%;
    }
    
    .bottom-head .first p {
        font-size: 0.7rem;
        line-height: 1.6;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 2.5rem;
    }
    
    .bottom-head .first button {
        padding: 1rem 2.5rem;
        margin-bottom: 2.5rem;
    }
    
    main {
        padding: 7.5rem 2rem 10rem;
        justify-content: center;
        align-items: center;
    }
    
    main .main-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    main .main-container.main-container-item h2, 
    main .main-container .main-container-item p, 
   main .main-container .main-container-2 img {
    width: 80%;
    margin: 0 auto;
}

   main .main-container .main-container-item h2 {
    font-size: 1rem;
}

    main .main-container .main-container-item p {
    font-size: 0.6rem;
}

    main .main-container .main-container-item {
        padding: 2.5rem 0.5rem 2.5rem;
    }
    
    section .build {
        width: 90%;
        margin: 0 auto;
        position: absolute;
        margin-top: -100px;
        font-size: 0.6rem;
        padding: 2.5rem 0.5rem;
    }
    
    section .build button {
        padding: 0.7rem 1rem;
        margin-top: 1.5rem;
        border: 0;
        outline: 0;
        cursor: pointer;
        font-size: 0.8rem;
        font-family: 'Open Sans', sans-serif;
    }
    
    #last {
        padding: 15rem 2rem 3rem;
        background-color: hsl(192, 100%, 9%);
        position: relative;
    }
    
    .footer-end {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .footer-end .footer1 {
        width: 100%;
        margin-right: unset;
        margin-bottom: 2.5rem;
    }
    
    .footer-end .icon {
        display: flex;
        color: #ffffff;
        margin-bottom: 1.5rem;
    }
    
    .footer-end .icon img {
        margin-right: 0.5rem;
    }
    
    .footer-end .second2, .footer-end .footer3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: unset;
    }

    .footer-end .footer2 a, .footer-end .footer3 a {
        margin-bottom: 0.5rem;
    }
    
    .footer-end .footer4 {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .footer-end .footer4 img {
        margin-top: 2.5rem;
        width: 40px;
    }
    
    #last .copyright {
        text-align: center;
        color: #ffffff;
    }
}


@media screen and (min-width:250px) and (max-width:319px) {
    #menu img {
        width: 50%;
    }

    #menu button {
        padding: 0.5rem 1rem;
        font-size: 0.6rem;
    }
    
    .bottom-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 0.5rem;
    }

    .bottom-head .first, .bottom-head .second {
        width: 80%;
    }

    .bottom-head .first h1 {
        font-size: 1.2rem;
    }
    
    .bottom-head .main-section-items {
        padding: 0.5rem;
        text-align: center;
    }
    
    .bottom-head .second img {
        width: 100%;
    }
    
    .bottom-head .first p {
        font-size: 0.7rem;
        line-height: 1.6;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 2.5rem;
    }
    
    .bottom-head .first button {
        padding: 1rem 2.5rem;
        margin-bottom: 2.5rem;
    }
    
    main {
        padding: 7.5rem 2rem 10rem;
        justify-content: center;
        align-items: center;
    }
    
    main .main-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    main .main-container .main-container-item h2, 
    main .main-container .main-container-item p, 
    main .main-container .main-container-2 img {
    width: 80%;
    margin: 0 auto;
}

    main .main-container .main-container-item h2 {
    font-size: 0.92rem;
}

    main .main-container .main-container-item p {
    font-size: 0.6rem;
}

    main .main-container .main-container-item {
        padding: 2.5rem 0.5rem 2.5rem;
    }
    
    section .build {
        width: 90%;
        margin: 0 auto;
        position: absolute;
        margin-top: -100px;
        font-size: 0.6rem;
        padding: 2.5rem 0.5rem;
    }
    
    section .build button {
        padding: 0.7rem 1rem;
        margin-top: 1.5rem;
        border: 0;
        outline: 0;
        cursor: pointer;
        font-size: 0.8rem;
        font-family: 'Open Sans', sans-serif;
    }
    
    #last {
        padding: 15rem 2rem 3rem;
        background-color: hsl(192, 100%, 9%);
        position: relative;
    }
    
    .footer-end {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .footer-end .first1 {
        width: 100%;
        margin-right: unset;
        margin-bottom: 2.5rem;
    }
    
    .footer-end .icon {
        display: flex;
        color: #ffffff;
        margin-bottom: 1.5rem;
    }
    
    .footer-end .icon img {
        margin-right: 0.5rem;
    }
    
    .footer-end .footer2, .footer-end .footer3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: unset;
    }

    .footer-end .footer2 a, .footer-end .footer3 a {
        margin-bottom: 0.5rem;
    }
    
    .footer-end .footer4 {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .footer-end .footer4 img {
        margin-top: 2.5rem;
        width: 40px;
    }
    
    #last .copyright {
        text-align: center;
        color: #ffffff;
    }

}
